div.Stat {
  .title {
    span:nth-child(1) {
      font-family: 'Montserrat', sans-serif;
      font-size: 46px;
    }
  }

  .subtitle {
    font-weight: bold;
  }

  .progress {
    background-color: #1b1b1b;
  }
}