.map-cell-unknown {
    cursor: pointer;
    background-color: #d9d9d9;
}

.map-cell-mine {
    background-color: #d97073;
}

.map-cell-certain {
    cursor: pointer;
    background-color: #73d997;
}

.map-cell-certain.map-cell-candidate {
    cursor: pointer;
    background-color: #40f2e3;
}

.map-cell-mine.map-cell-candidate {
    background-color: #f284de;
}

.map-cell-candidate {
    background-color: #4cadd9;
}

.map-cell-open {
    background-color: #FFF;
}

.map-cell-exploded {
    background-color: #ff3321;
}

.map-cell-descriptor {
    background-color: #faffd7;
}