td {
    border: 1px solid #540D6E;
    overflow: hidden;
    text-align: center;

    &.map-cell-unknown {
        cursor: pointer;
        background-color: lighten(#540D6E, 3);
    }

    &.map-cell-mine {
        background-color: #FB3640;
    }

    &.map-cell-certain {
        cursor: pointer;
        background-color: #3BCEAC;
    }

    &.map-cell-candidate {
        background-color: #9216BF;
    }
}